body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  width: 300px;
  height:300px;
  line-height;
  float: left;
  margin-left;
}

input[type=text]{
  width: 50px;
}